@font-face {
    font-family: 'Pacifico';
    src: url('../assets/fonts/Pacifico-Regular.ttf');
}

:root {
    --dark-green-grey: #1c1e1d;
    --light-grey: #444645;
    --off-white: #fefdf9;
    --gradient-start: #e6dbe8;
    --gradient-end: #532bf2;
}

h1 {
    font-family: 'Pacifico', serif;
    font-weight: 500;
    font-style: normal;
    font-size: 125px;
    background: linear-gradient(45deg, var(--gradient-start), var(--gradient-end) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 85px;
    text-align: center;
    padding: 40px 10px 95px;
    margin-bottom: 2rem;
    filter: drop-shadow(0 0 1em rgba(129, 129, 206, 0.57)) drop-shadow(0 0 0.2em rgba(145, 145, 206, 0.263));
  }
  
.searchBar{
    width: 50rem;
}

input#searchInput{
    margin: 0 auto;
    width: 93%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    color: var(--off-white);
    background-color: var(--light-grey);
    border: 3px solid var(--off-white);
    border-radius: 100px;
    outline: none;
}

.searchIcon{
    position: relative;
    float: right;
    width: 27px;
    height: 27px;
    top: -39px;
    right: 22px;
} 

@media screen and (max-width: 875px) {

    h1 {
        font-size: 45px;
        margin: 0 auto;
        padding: 15px;
    }

    .searchBar{
        width: 15rem;
        padding: 10px;
    }

    input#searchInput{
        width: 80%;
    }

    .searchIcon{
        width: 20px;
        height: 20px;
        top: -35px;
        right: 20px;
    }
}